.make_appointment_title
{
    margin-top: 160px;
    margin-bottom: 200px;
    font-family: 'EB-Garamond';
    font-size: 70px;
    color: #080606;
    text-align: left;
    margin-left: 230px;
    font-weight: 400;
}
.make_appointment 
{
    display: flex;
    align-items: left;
} 
.button_appointment :nth-child(6)
{
    background-color: #FFC59E;
    border: none;
    border-radius: 25px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-bottom: 160px;
    margin-top: 30px;
    padding-left: 50px;
    transition: transform 0.3s;
}

.button_appointment 
{
    display: flex;
    flex-direction: column;
    margin-left: 191px;
}
.button_appointment :nth-child(1)
{
    margin-top: 160px;
}

.button_appointment button
{
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 600;
    color: #59443F;
    text-align: left;
    padding-left: 20px;
    width: 300px; 
    height: 60px; 
    border-radius: 20px;
    border-color: transparent;
    background-color: #FFFFFF;
    box-shadow: 0 4px 15px 0 rgba(142, 146, 146, 0.75);
    cursor: pointer;
}
.button_appointment button:hover
{
    transform: scale(1.1);
    background-color: #FFC59E;
    color: #FFFFFF;

}
.conteiner_acc_city {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .city {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    z-index: 3;
  }
  .button_appointment :nth-child(6):hover
  {
    background-color: #59443F;
    color: #ffffff;
    transform: scale(1.1);
  }
  .modal_content
  {
    background-color: #ffffff;
    color: #524538;
    font-family: 'Raleway';
    width: 400px;
    height: 200px;
    justify-content: center;
    top: 40%;
    left: 36%;
    position: fixed;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  }
  .modal_content p
  {
    
    padding-top: 35px;
    font-size: 17px;
    text-align: center;

    
  }
  .modal_content button
  {
    background-color: transparent;
    font-family: 'Raleway';
    font-size: 30px;
    border: none;
    margin-left: 370px;
    cursor: pointer;
  }