.pet_card {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 350px;
    border-radius: 15px;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #ebe3e0;
    margin-left: 600px;
    margin-right: 143px;
    margin-bottom: 30px;
    padding-bottom: 60px;
    padding-right: 10px;
    
  }
  
  .photo_column img
  {
    flex-basis: 25%;
   margin-right: 25px;
    border-radius: 100px;
    width: calc(100%/3);
    height: 150px;
    object-fit: cover;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .photo_column div :nth-child(1)
  {
    
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-family: 'Raleway';
    font-size: 15px;
    color: #FFC59E;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;

  }
  .photo_column div
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo_column .deleteButton
  {
    background-color: transparent;
    border: none;
    font-family: 'Raleway';
    font-size: 15px;
    color: #FFC59E;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .photo_column div :nth-child(1):hover
  {
    transform: scale(1.1);
    color: #53493f;
  }
  .photo_column div .deleteButton:hover
  {
    transform: scale(1.1);
    color: #53493f;
  }
  
  .pet_photo {
    width: 100%;
    height: auto;
  }
  
  .info_column h3
  {
    flex-basis: 25%;
    margin-top: 25px;
    font-family: 'Raleway';
    font-size: 12px;
    color: #C3B9B5;
    font-weight: 300;
    margin-right: 60px;
    margin-bottom: 5px;
    
  }
  .info_column p
  {
    font-family: 'Raleway';
    font-size: 16px;
    color: #000000;
    font-weight: 300;
  }
  .info_column :nth-child(1)
  {
    margin-top: 20px;
    font-family: 'EB+Garamond';
    font-size: 25px;
    color: #050505;
    font-weight: 300;
    margin-right: 60px;
  }
  
  .medical_info_column {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    

  }
  .medical_info_column .med_card
  {
    margin-top: 72px;
    font-family: 'Raleway';
    font-size: 12px;
    color: #C3B9B5;
    font-weight: 300;
  }
  .medical_info_column .med_an
  {
    margin-top: 30px;
    font-family: 'Raleway';
    font-size: 12px;
    color: #C3B9B5;
    font-weight: 300;
  }
  
  .info_container_an{
    overflow: auto; 
    -ms-overflow-style: none;
    scrollbar-width: none; 
  } 
  .info_container_an::-webkit-scrollbar {
    display: none; 
}
.modal
{
  background-color: #eae8e7;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 360px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.modal h3{
  align-items: center;
  color: #FFFFFF;
  font-family: 'Raleway';
  margin-left: -100px;
  margin-bottom: 20px;
}
.modal input
{
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  height: 25px;
  margin-left: -105px;
  width: 200px;
  height: 30px;
  font-family: 'Raleway';
  padding-left: 10px;

}
.modal :nth-child(10)
{
  background-color: transparent;
  border: none;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 800;
}

.modal input::placeholder
{
  color: #C3B9B5;
}
.modal :nth-child(1)
{
  margin-left: 450px;
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}


.modal :nth-child(10)
{
  margin-left: 0px;
  width: 300px;
  height: 60px;
  margin-top: 5px;
  margin-left: 150px;
}

.updateMessage{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  background-color: #FFC59E;
  padding-top: 35px;
  padding-left: 5px;
  font-family: 'Raleway';
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;

}
.modal h3{
  align-items: center;
  color: #FFFFFF;
  font-family: 'Raleway';
}
.ModalInfo
{
  background-color: #ffffff;
  color: #524538;
  font-family: 'Raleway';
  width: 400px;
  height: 100px;
  align-items: center;
  top: 35%;
  left: 35%;
  position: fixed;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
.ModalInfo p
{
  padding-left: 100px;
  padding-top: 35px;
  font-size: 17px;
}
.custom_file_upload_cont
{
  margin-right:100px;
  margin-left:10px;
  border:none;
  border-radius:10px;
  height:40px; 
  margin-top:10px;
  font-family: 'Raleway';
  font-size: 13px;
  box-shadow: 0 3px 10px 0 rgba(142, 146, 146, 0.75); 
  margin-bottom: 15px;
}
.custom_file_upload_cont label
{
  margin-top: 2px;
  margin-left: 20px;
}
.medical_info_column .createCard
{
  margin-top: 10px;
  margin-right: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  font-family: 15px;
  border: none;
  font-family: 'Open Sans';
  color: #ffffff;
  background-color: #FFC59E;
  font-weight: 600;
}
.medical_info_column .createCard:hover
{
  transform: scale(1.1);
  background-color: #C3B9B5;
  cursor: pointer;
}
.medical_info_column .deleteCard
{
  margin-top: -20px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  font-size: 16px;
  border:none;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #ffffff;
  background-color: #FFC59E;
  margin-left: 35px;
}
.medical_info_column .deleteCard:hover
{
  transform: scale(1.1);
  background-color: #C3B9B5;
  cursor: pointer;
}
.modal_create_card
{
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-shadow: 0 3px 10px 0 rgba(142, 146, 146, 0.75); 
}
.modal_create_card input
{
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  height: 25px;
}

.modal_create_card input::placeholder
{
  padding-left: 20px;
  color: #C3B9B5;
}
.modal_create_card :nth-child(1)
{
 
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 250px;
}
.modal_create_card :nth-child(2)
{
  margin-bottom: 10px;
  margin-top: -10px;
}
.modal_create_card label
{
  
  height: 30px;
  width: 120px;
  margin-top: 30px;
  margin-left: -10px;
  font-family: 'Raleway';
  font-weight: 600;
  background-color: #FFC59E;
  color: #ffffff;
}
.modal label input[type="file"]
{
  width: 0px;
  height: 0px;
  
}
.modal label
{
  background-color:#FFC59E;
  margin-left: -100px;
  border: none;
  width: 200px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Raleway';
  height: 25px;
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
  cursor: pointer;
}

  