.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; 
    position: fixed;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 2; 
    width: 487px;
    height: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); 
}
.button
{
    background-color: #e1dcdc;
    border: none;
    width: 230px;
    height: 51px;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 30px;
    cursor: pointer;
}
.modalContent p
{
    font-size: 25px;
    font-family: 'EB+Garamond';
}
.close
{
    margin-left: 430px;
    padding-top: 5px;
    font-size: 30px;
    cursor: pointer;

}
.button:hover
{
    background-color:  #FFC59E;
}
.close:hover
{
    color: #FFC59E;
}
.inputWrapper input
{
    background-color: #ffffff;
    border: 1px solid #e1dcdc;
    width: 324px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: -100px;
    font-family: 'Raleway';
    font-size: 13px;
    font-weight: 300;
    color: #ded9d2;
    
}
.inputWrapper input::placeholder
{
    text-align: left;
    position: absolute;
}